<div id="SideBar" class="bg-info text-white col-2">
  <form>

    <div class="form-group">

      <!-- Preset Settings Select -->
      <div class="form-inline">
        <label for="PresetDropdown">
          <input class="form-check-input" type="checkbox" id="UsePresetCB" (change)="toggleUsePresetFlag()" #UsePresetCB>
          <span class="bi bi-info-circle mr-2" placement="right" ngbTooltip="Select the preset option of your choice."></span>
        </label>
        <select id="PresetDropdown" ng-model="selectedTextParticleSettings" class="custom-select custom-select-sm w-75" (change)="selectPresetTextParticleSettings($event)">
          <option *ngFor="let settingsObj of textParticleSettings; let i = index" [selected]="selectedTextParticleSettings == i" [value]="i">{{settingsObj.name}}</option>
        </select>
      </div>

      <!--
        color: string;
        font: string;
        text: string;
        x: number;
        y: number;
        mapX: number;
        mapY: number;
        name: string;
        width: number;
        height: number;
        scale: number;
        resultOffsetX: number;
        resultOffsetY: number;
        constellationDistance: number;
        constellationEffect: boolean;
       -->

    </div>

  </form>
</div>

<canvas id="Canvas" [ngClass]="canvasClass" #Canvas></canvas>
