<div id="SideBar" class="bg-info text-white col-2">
  <form>

    <div class="form-group">

      <!-- Preset Settings Select -->
      <div class="form-inline">
        <label for="PresetDropdown">
          <input class="form-check-input" type="checkbox" id="UsePresetCB" (change)="toggleUsePresetFlag()" #UsePresetCB>
          <span class="bi bi-info-circle mr-2" placement="right" ngbTooltip="Select the preset option of your choice."></span>
        </label>
        <select id="PresetDropdown" ng-model="selectedRainParticleSettings" class="custom-select custom-select-sm w-75" (change)="selectPresetRainParticleSettings($event)">
          <option *ngFor="let settingsObj of rainParticleSettings; let i = index" [selected]="selectedRainParticleSettings == i" [value]="i">{{settingsObj.name}}</option>
        </select>
      </div>

      <!-- Clear Frames Checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="ClearCanvasCB" (change)="toggleClearCanvasFlag()" #ClearCanvasCB>
        <label class="form-check-label" for="ClearCanvasCB">
          <span class="bi bi-info-circle" placement="right" ngbTooltip="Select to clear the canvas each frame."></span>
          Clear Frames
        </label>
      </div>

      <!-- Alpha Modifier Range -->
      <div>
        <label for="SizeRangeInput">
          <span class="bi bi-info-circle" placement="right" ngbTooltip="Choose the opacity modifier."></span>
          Opacity Modifier: {{alphaModifier}}
        </label>
        <div class="btn-group">
          <button type="button" class="btn btn-secondary btn-sm col-1" (click)="AlphaRangeInput.stepDown(); selectAlphaModifier(AlphaRangeInput.valueAsNumber)"><</button>
          <input id="SizeRangeInput" type="range" class="form-control-range col-10" min="0" max="1" step="0.05" 
            (change)="selectAlphaModifier(AlphaRangeInput.valueAsNumber)" value="0" #AlphaRangeInput>
          <button type="button" class="btn btn-secondary btn-sm col-1" (click)="AlphaRangeInput.stepUp(); selectAlphaModifier(AlphaRangeInput.valueAsNumber)">></button>
        </div>
      </div>

    </div>
    <!-- Black and White or Color Radios -->
    <fieldset class="form-group">

      <div class="form-check form-check-inline">
        <input id="BlackAndWhiteRadio" class="form-check-input" name="ColorRadioGroup" type="radio" (change)="selectCustomBlackAndWhite()" checked>
        <label class="form-check-label" for="BlackAndWhiteRadio">
          <span class="bi bi-info-circle" placement="right" ngbTooltip="Select this option for each particle to be colored white."></span>
          Black & White
        </label>
      </div>

      <div class="form-check form-check-inline">
        <input id="MappedColorRadio" class="form-check-input" name="ColorRadioGroup" type="radio" (change)="selectCustomMappedColors()">
        <label class="form-check-label" for="MappedColorRadio">
          <span class="bi bi-info-circle" placement="right" ngbTooltip="Select this option for each particle to be colored based on its position relative to the underlying image"></span>
          Color
        </label>
      </div>

    </fieldset>

      <!-- Direction Select -->
      <div class="form-inline mb-1">
        <label for="DirectionDropdown">
          <span class="bi bi-info-circle mr-2" placement="right" ngbTooltip="Select the direction for the particles to flow."></span>
        </label>
        <select id="DirectionDropdown" class="custom-select custom-select-sm w-75" (change)="selectCustomDirection($event)">
          <option *ngFor="let direction of availableDirections" [selected]="direction == customRainParticleSettings.direction" [value]="direction">{{direction}}</option>
        </select>
      </div>

      <!-- Global Composite Operations Option Select -->
      <div class="form-inline mb-1">
        <label for="CompositeOperationOptionsDropdown">
          <span class="bi bi-info-circle mr-2" placement="right" ngbTooltip="Select composite operation option."></span>
        </label>
        <select id="CompositeOperationOptionsDropdown" class="custom-select custom-select-sm w-75" (change)="selectCustomGlobalCompositeOperationOptions($event)">
          <option *ngFor="let gcoOption of globalCompositeOperationOptions" [selected]="gcoOption == customRainParticleSettings.globalCompositeOperationOptions" [value]="gcoOption">{{gcoOption}}</option>
        </select>
      </div>

      <!-- Particle Size Range -->
      <div>
        <label for="SizeRangeInput">
          <span class="bi bi-info-circle" placement="right" ngbTooltip="Choose the size of each individual particle"></span>
          Particle Size: {{customRainParticleSettings.sizeModifier}}
        </label>
        <div class="btn-group">
          <button type="button" class="btn btn-secondary btn-sm col-1" (click)="SizeRangeInput.stepDown(); selectCustomSize(SizeRangeInput.valueAsNumber)"><</button>
          <input id="SizeRangeInput" type="range" class="form-control-range col-10" min="1" max="100" step="0.5"
            (change)="selectCustomSize(SizeRangeInput.valueAsNumber)" value="0" #SizeRangeInput>
          <button type="button" class="btn btn-secondary btn-sm col-1" (click)="SizeRangeInput.stepUp(); selectCustomSize(SizeRangeInput.valueAsNumber)">></button>
        </div>
      </div>

      <!-- Particle Speed Range -->
      <div>
        <label for="SpeedRangeInput">
          <span class="bi bi-info-circle" placement="right" ngbTooltip="Choose the speed modifier for each particle"></span>
          Particle Speed: {{customRainParticleSettings.velocityModifier}}
        </label>
        <div class="btn-group">
          <button type="button" class="btn btn-secondary btn-sm col-1" (click)="SpeedRangeInput.stepDown(); selectCustomSpeed(SpeedRangeInput.valueAsNumber)"><</button>
          <input id="SpeedRangeInput" type="range" class="form-control-range col-10" min="0" max="100" step="0.05"
            (change)="selectCustomSpeed(SpeedRangeInput.valueAsNumber)" value="0" #SpeedRangeInput>
          <button type="button" class="btn btn-secondary btn-sm col-1" (click)="SpeedRangeInput.stepUp(); selectCustomSpeed(SpeedRangeInput.valueAsNumber)">></button>
        </div>
      </div>

  </form>
</div>

<canvas id="Canvas" #Canvas></canvas>
