#Canvas {
    border: 2px solid white;
    top: 50%;
    left: 50%;
    position: relative;

    // reaching-out
    width: 501px;
    height: 672px;

    // disturbed
    // width: 500px;
    // height: 500px;

    transform: translate(-50%, 0%);
}
